<div class="hero">
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn New Skills</h1>
    <br />
    <h2>Explore courses taught by experts in the field</h2>
    <br/>
    <br />
    <%= link_to ' Learn More', courses_path, :class => 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>

<br/>
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Go at Your Own Speed</h3>
    <br />
    <img src="/assets/calendar.png" />
    <br />
    <br />
    <p>
      Watch classes on your own schedule. Skillshare is available anytime, anywhere.
    </p>
  </div>

  <div class="col-sm-4">
    <h3>Get Step-by-Step Instruction</h3>
    <br />
    <img src="/assets/TV.png" />
    <br />
    <br />
    <p>
      Each video is just a few minutes long. You can complete most classes in under an hour.
    </p>
  </div>

  <div class="col-sm-4">
    <h3>Learn with a Community</h3>
    <br />
    <img src="/assets/forum.png" />
    <br />
    <br />
    <p>
      Bounce off questions and get feedback from the learning community moderated by instructors.
    </p>
  </div>
</div>
